{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
	     <a href="../">{% trans "Home" %}</a> &rsaquo;
	     {% trans 'Estatísticas de empréstimos' %}
    </div>
{% endblock %}

{% block content %}

    <h2>Estatísticas do mês {{ month }} / {{ year }}</h2>

    <h3>{{ total_month }} empréstimos realizados</h3>

    {% load googlecharts %}
    {# container #}
    <div id="out"></div>
    <div id="out2"></div>
    <div id="out3"></div>
    {% googlecharts %}

        {% data results "out_data" %}
            {% col "string" "Dado" %}"{{ val }}"{% endcol %}
            {% col "number" "Quantidade de empréstimos" %}{{ val }}{% endcol %}
        {% enddata %}

        {% data top_equipos "out_data2" %}
            {% col "string" "Nome" %}"{{ val }}"{% endcol %}
            {% col "number" "Quantidade de empréstimos" %}{{ val }}{% endcol %}
        {% enddata %}

        {% data top_users "out_data3" %}
            {% col "string" "Nome" %}"{{ val }}"{% endcol %}
            {% col "number" "Quantidade de empréstimos" %}{{ val }}{% endcol %}
        {% enddata %}

        {% options "out_options" %}
            kind: "PieChart",
            options: {
                title: 'Situação dos empréstimos',
                width: 400,
                height: 400
            }
        {% endoptions %}

        {% options "out_options2" %}
            kind: "BarChart",
            options: {
                title: 'Equipamentos mais emprestados',
                width: 600,
                height: 400
            }
        {% endoptions %}

        {% options "out_options3" %}
            kind: "BarChart",
            options: {
                title: 'Usuários mais ativos',
                width: 600,
                height: 400
            }
        {% endoptions %}

        {# chart is assembled from container, data and options #}

        {% graph "out" "out_data" "out_options" %}
        {% graph "out2" "out_data2" "out_options2" %}
        {% graph "out3" "out_data3" "out_options3" %}

    {% endgooglecharts %}


{% endblock %}
