{% extends "admin/base_site.html" %}
{% load i18n %}


{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     {% trans 'Procurar Empréstimos' %}
</div>
{% endblock %}

{% block content %}
    {% if error %}
        <p style="color: red;">Por favor, digite um termo de busca.</p>
    {% endif %}

    <p><h3>Procurar Empréstimos</h3></p><br />

    <form action="{% url 'emprestimo:procura' %}" method="get">
        <p><input type="text" name="q" id="q" size="30" title="Digite o tombo, em caso de busca por equipamento, ou a matrícula, em caso de busca por usuário" />  <input type="submit" value="Procurar"></p><br />
        <p><b>Procurar por:</b></p>
        <p><input type="radio" checked="checked" value="equipamento" name="search_by"> <span>Equipamento</span><br />
        <input type="radio" value="usuario" name="search_by"> <span>Usuário</span></p><br />
        <p><b>Empréstimos:</b></p>
        <p><input type="radio" checked="checked" value="not_matters" name="devolvido"> <span>Todos</span><br />
        <input type="radio" value="true" name="devolvido"> <span>Devolvidos</span><br />
        <input type="radio" value="false" name="devolvido"> <span>Não devolvidos</span></p>
    </form>

{% endblock %}

